@charset "UTF-8";
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', Verdana, sans-serif; }

body {
  width: 100%;
  height: 100%;
  font-family: 'Source Serif Pro', Georgia, serif;
  background-color: #f1f1f1; }

ul, ol {
  list-style: none; }

a:link,
a:visited {
  font-family: "Source Sans Pro", Verdana, sans-serif;
  text-decoration: none;
  color: #ebd512;
  transition: color .3s; }

a:hover,
a:active {
  color: #8c7f0b; }

.hero,
.blog-hero,
.info-hero {
  position: relative;
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  width: 100%;
  height: 90vh; }
  .hero__nav,
  .blog-hero__nav,
  .info-hero__nav {
    background: #25AC74;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #25AC74, #67C44F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #25AC74, #67C44F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 3.5rem 6rem;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    margin: auto;
    min-height: 90px; }
    .hero__nav .logo,
    .blog-hero__nav .logo,
    .info-hero__nav .logo {
      width: 25rem; }
    .hero__nav ul li a:link,
    .hero__nav ul li a:visited,
    .blog-hero__nav ul li a:link,
    .blog-hero__nav ul li a:visited,
    .info-hero__nav ul li a:link,
    .info-hero__nav ul li a:visited {
      color: #f1f1f1;
      transition: all .3s; }
    .hero__nav ul li a:hover,
    .hero__nav ul li a:active,
    .blog-hero__nav ul li a:hover,
    .blog-hero__nav ul li a:active,
    .info-hero__nav ul li a:hover,
    .info-hero__nav ul li a:active {
      color: #bebebe; }
    .hero__nav-list,
    .blog-hero__nav-list,
    .info-hero__nav-list {
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: uppercase;
      color: #f1f1f1;
      display: flex;
      width: 120px;
      margin-right: 5%;
      justify-content: space-between;
      align-items: flex-end; }
      .hero__nav-list li:not(:last-child)::after,
      .blog-hero__nav-list li:not(:last-child)::after,
      .info-hero__nav-list li:not(:last-child)::after {
        content: '/';
        color: #ebd512;
        padding: 5px; }
  .hero .banner,
  .blog-hero .banner,
  .info-hero .banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .hero .banner__img,
    .blog-hero .banner__img,
    .info-hero .banner__img {
      width: 100%;
      height: 500px; }

.blog-hero {
  height: 100%; }

.info-hero {
  height: 100%; }

.pitch {
  width: 100%;
  padding: 3rem;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .pitch__title {
    font-size: 3.2rem;
    width: 50%;
    text-align: center;
    position: relative; }
    .pitch__title::after {
      content: '';
      width: 20%;
      height: 3px;
      background-color: #2AA80F;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute; }

.featured {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
  background: #19754f;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #19754f, #458535);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #19754f, #458535);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #f1f1f1; }
  .featured__img {
    width: 350px;
    height: 250px; }
  .featured__info {
    width: 50%; }
    .featured__info-title {
      font-size: 3rem;
      margin-bottom: 1.5rem; }
    .featured__info-desc {
      width: 70%;
      line-height: 1.4em;
      font-size: 2rem;
      margin-bottom: 1rem; }
    .featured__info-link {
      font-size: 2rem;
      font-weight: 600;
      color: #CF7827; }

.widget {
  padding: 0 5rem;
  margin: 5rem 0;
  width: 100%;
  height: 315px;
  display: flex;
  justify-content: space-around; }
  .widget__twitter, .widget__calendar, .widget__weather {
    width: 30%; }
  .widget__twitter {
    overflow: scroll; }
  .widget__calendar {
    display: flex;
    justify-content: center; }
    .widget__calendar .calendar {
      font-family: "Source Sans Pro", Verdana, sans-serif;
      width: 280px;
      height: 315px;
      background-color: rgba(51, 51, 51, 0.2);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
      border-radius: 8px; }
      .widget__calendar .calendar__months {
        width: 100%;
        height: 40px;
        background-color: #25AC74;
        color: #f1f1f1;
        display: flex; }
        .widget__calendar .calendar__months::before {
          content: '\2190';
          font-size: 2rem;
          margin-left: 10px;
          margin-top: 5px;
          cursor: pointer; }
        .widget__calendar .calendar__months::after {
          content: '\2192';
          font-size: 2rem;
          margin-right: 10px;
          margin-top: 5px;
          cursor: pointer; }
        .widget__calendar .calendar__months-name {
          width: 50%;
          margin: 5px auto;
          font-size: 2.2rem;
          text-align: center;
          font-size: 300; }
      .widget__calendar .calendar__weekdays {
        width: 100%;
        height: 35px;
        background-color: #CF7827;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        .widget__calendar .calendar__weekdays-name {
          font-size: 1.4rem;
          color: #f1f1f1; }
      .widget__calendar .calendar__days {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #f1f1f1; }
        .widget__calendar .calendar__days .prev, .widget__calendar .calendar__days .next {
          color: rgba(0, 0, 0, 0.5); }
        .widget__calendar .calendar__days .current {
          background-color: rgba(51, 51, 51, 0.1); }
        .widget__calendar .calendar__days-day {
          font-size: 1.2rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          transition: all .3s; }
          .widget__calendar .calendar__days-day:hover {
            background-color: rgba(216, 29, 29, 0.74);
            color: #f1f1f1;
            cursor: pointer; }
  .widget__weather {
    width: 300px;
    display: flex;
    justify-content: flex-end; }
    .widget__weather .weather {
      font-family: "Source Sans Pro", Verdana, sans-serif;
      padding: 3rem;
      width: 300px;
      height: 315px;
      background-color: rgba(42, 168, 15, 0.9);
      color: #f1f1f1;
      box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .widget__weather .weather__title {
        font-size: 2rem;
        margin-bottom: 10px; }
      .widget__weather .weather__temp {
        font-size: 6rem;
        font-weight: 300;
        position: relative; }
        .widget__weather .weather__temp::before {
          content: 'C';
          position: absolute;
          right: -23px;
          top: 6px;
          font-size: 3.8rem; }
      .widget__weather .weather__desc {
        font-size: 1.8rem;
        margin-bottom: 5px; }
      .widget__weather .weather__city {
        font-size: 3.2rem;
        color: #ebd512; }

.footer {
  font-family: "Source Sans Pro", Verdana, sans-serif;
  width: 100%;
  height: 100px;
  background-color: #CF7827;
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  padding: 3rem;
  font-size: 1.8rem; }
  .footer .wrapper {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .footer .wrapper p, .footer .wrapper a {
      font-weight: 600; }

.articles {
  padding: 3rem 8rem;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1; }
  .articles .article {
    width: 60%;
    min-width: 700px;
    margin: 5rem auto;
    height: 100%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #f5ece0;
    padding: 5rem 5rem;
    transition: all .5s; }
    .articles .article__title {
      width: 500px;
      font-size: 3.2rem;
      margin: 0 auto;
      margin-bottom: 2.5rem; }
    .articles .article__para, .articles .article__para-ingress {
      font-size: 2rem;
      width: 500px;
      max-width: 500px;
      line-height: 1.4em;
      margin: 0 auto; }
    .articles .article__para {
      margin-bottom: 2rem; }
    .articles .article ul {
      width: 500px;
      margin: 2rem auto; }
      .articles .article ul li {
        font-size: 2rem; }
        .articles .article ul li::before {
          content: '→';
          margin-right: 1rem;
          color: #2AA80F; }
    .articles .article a:link, .articles .article a:visited {
      color: #2AA80F;
      font-weight: 600;
      transition: all .3s;
      max-width: 500px; }
    .articles .article a:hover, .articles .article a:active {
      color: #134a07;
      font-weight: 600;
      max-width: 500px; }
    .articles .article .ellipses {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .articles .article h2 {
      font-size: 2.8rem;
      width: 500px;
      margin: 2rem auto;
      margin-bottom: 1.5rem; }
    .articles .article h3 {
      font-size: 2.4rem;
      width: 500px;
      margin: 1rem auto; }
    .articles .article h4 {
      font-size: 2.2rem;
      width: 500px;
      margin: 1rem auto; }
    .articles .article h5 {
      font-size: 2rem;
      width: 500px;
      margin: 1rem auto; }
    .articles .article h6 {
      font-size: 1.8rem;
      width: 500px;
      margin: 1rem auto; }
    .articles .article__para-ingress {
      color: rgba(0, 0, 0, 0.8);
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1.5rem; }
    .articles .article__img {
      background-image: url(../img/artikel1.jpg);
      background-size: cover;
      background-position: bottom;
      width: 500px;
      height: 350px;
      margin: 4.5rem auto;
      position: relative; }
      .articles .article__img::before {
        content: 'Av rawpixel på Unsplash';
        position: absolute;
        padding: 1.5rem;
        background-color: rgba(0, 0, 0, 0.7);
        color: #f1f1f1;
        font-family: "Source Sans Pro", Verdana, sans-serif;
        font-size: 1.6rem;
        right: 0;
        bottom: 0;
        width: 100%; }
    .articles .article__fourthimg {
      background-image: url(../img/artikel2.jpg);
      background-size: cover;
      background-position: bottom;
      width: 250px;
      height: 400px;
      margin: 1rem auto;
      position: relative; }
      .articles .article__fourthimg::before {
        content: 'Av Nick Fewings på Unsplash';
        text-align: center;
        position: absolute;
        padding: .6rem;
        background-color: rgba(0, 0, 0, 0.7);
        color: #f1f1f1;
        font-family: "Source Sans Pro", Verdana, sans-serif;
        font-size: 1.6rem;
        right: 0;
        bottom: 0;
        width: 100%; }
    .articles .article__bigimg {
      background-image: url(../img/artikel4.jpg);
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 400px;
      margin: 3.5rem auto;
      margin-top: 0; }
    .articles .article__smallimg {
      background-size: cover;
      background-position: center;
      width: 350px;
      height: 250px;
      margin: 3.5rem auto;
      margin-bottom: 1rem;
      position: relative; }
    .articles .article .imgone {
      background-image: url(../img/artikel3_ett.jpg); }
      .articles .article .imgone::before {
        content: 'Av Plush Design Studio på Unsplash';
        text-align: center;
        position: absolute;
        padding: .6rem;
        background-color: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        font-family: "Source Sans Pro", Verdana, sans-serif;
        font-size: 1.6rem;
        right: 0;
        top: 0;
        width: 100%; }
    .articles .article .imgtwo {
      background-image: url(../img/artikel3_tva.jpg); }
      .articles .article .imgtwo::before {
        content: 'Av Bruno Martins på Unsplash';
        text-align: center;
        position: absolute;
        padding: .6rem;
        background-color: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        font-family: "Source Sans Pro", Verdana, sans-serif;
        font-size: 1.6rem;
        right: 0;
        top: 0;
        width: 100%; }
    .articles .article__imgtxt {
      font-size: 1.6rem;
      font-family: "Source Sans Pro", Verdana, sans-serif;
      width: 500px;
      margin: 1rem auto;
      margin-bottom: 3.5rem;
      text-align: center; }
    .articles .article .wrap-list {
      width: 500px;
      margin: 2rem auto;
      background-color: rgba(255, 255, 255, 0.6);
      border: 1.5px solid rgba(51, 51, 51, 0.2); }
    .articles .article dl {
      font-size: 2rem;
      padding: 2rem;
      width: 500px;
      margin: 2rem auto; }
      .articles .article dl .sans {
        font-family: "Source Sans Pro", Verdana, sans-serif; }
      .articles .article dl .mono {
        font-family: 'Courier New', Courier, monospace; }
      .articles .article dl dt {
        position: relative;
        font-weight: 600;
        margin-bottom: 5px; }
        .articles .article dl dt::before {
          content: '';
          position: absolute;
          bottom: -40px;
          height: 40px;
          width: 2px;
          background-color: rgba(0, 0, 0, 0.2); }
        .articles .article dl dt::after {
          content: '';
          position: absolute;
          bottom: -40px;
          left: 2px;
          height: 2px;
          width: 40px;
          background-color: rgba(0, 0, 0, 0.2); }
      .articles .article dl dd {
        display: block;
        margin-left: 5rem;
        margin-bottom: 5px; }
    .articles .article dl:last-of-type dt::before {
      height: 18px;
      bottom: -18px; }
    .articles .article dl:last-of-type dt::after {
      bottom: -18px; }
    .articles .article ol {
      list-style-type: decimal;
      font-size: 2rem;
      width: 500px;
      margin: 2rem auto;
      transform: translateX(20px); }
    .articles .article blockquote {
      width: 500px;
      padding-left: 2.5rem;
      border-left: 2.5px solid rgba(0, 0, 0, 0.3);
      font-size: 2.2rem;
      font-style: italic;
      line-height: 1.3em;
      margin: 0 auto;
      margin-bottom: 2rem; }
    .articles .article cite {
      width: 500px;
      font-family: "Source Sans Pro", Verdana, sans-serif;
      font-size: 2rem;
      margin: 0 auto;
      margin-bottom: 2rem;
      display: block; }
    .articles .article__date, .articles .article__author {
      width: 500px;
      font-family: "Source Sans Pro", Verdana, sans-serif;
      font-size: 1.8rem;
      margin: 0 auto;
      margin-bottom: 1rem; }
    .articles .article__author {
      font-weight: 600; }
      .articles .article__author span {
        font-weight: 300; }
    .articles .article__keywords {
      width: 500px;
      margin: 0 auto;
      font-weight: 600;
      font-family: "Source Sans Pro", Verdana, sans-serif;
      font-size: 1.6rem;
      color: #2AA80F; }
    .articles .article .content {
      height: 85vh;
      overflow: hidden;
      transition: all .5s;
      position: relative;
      opacity: .7; }
    .articles .article .read {
      cursor: pointer;
      display: block;
      margin: 3.5rem auto;
      border: 2px solid #2AA80F;
      font: inherit;
      font-family: "Source Sans Pro", Verdana, sans-serif;
      background-color: #2AA80F;
      font-size: 1.6rem;
      color: #f1f1f1;
      padding: 1.5rem 3rem;
      border-radius: 15px;
      transition: all .3s; }
      .articles .article .read:focus {
        outline: none; }
      .articles .article .read:hover {
        transform: scale(1.1);
        background-color: #f1f1f1;
        color: #2AA80F; }

.about {
  width: 70%;
  height: 100%;
  margin: 7rem auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 8rem;
    padding-bottom: 5px;
    border-bottom: 2.5px solid #2AA80F; }
  .about__boxes {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .about__boxes-box {
      width: 27%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .about__boxes-box .icon {
        font-size: 7rem;
        color: #2AA80F;
        margin-bottom: 2rem; }
      .about__boxes-box--title {
        font-size: 2.6rem;
        text-align: center;
        margin-bottom: 2rem; }
      .about__boxes-box--para {
        font-size: 2rem;
        text-align: center;
        line-height: 1.5em; }

.infoimg {
  background-image: url(../img/infostartup.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px; }

.info {
  width: 70%;
  height: 100%;
  margin: 7rem auto;
  margin-bottom: 4rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .info__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
    padding-bottom: 5px;
    border-bottom: 2.5px solid #2AA80F; }
  .info__text {
    font-size: 2rem;
    line-height: 1.5em;
    margin-bottom: 2rem;
    width: 500px; }
    .info__text::first-letter {
      font-size: 300%; }
  .info__details {
    width: 500px;
    margin: 3rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .info__details .wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between; }
      .info__details .wrapper .telephone {
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
    .info__details .address, .info__details .telephone, .info__details .mail {
      width: 200px;
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 3rem; }
      .info__details .address .icon, .info__details .telephone .icon, .info__details .mail .icon {
        color: #2AA80F;
        margin-bottom: 1.5rem;
        font-size: 3rem; }

.contact {
  width: 550px;
  height: 100%;
  min-height: 300px;
  margin: 3.5rem auto;
  margin-bottom: 10rem;
  background-color: #d6d8da;
  border-radius: 15px;
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1); }
  .contact__menubar {
    width: 100%;
    height: 25px;
    padding: 5px 15px;
    background-color: #b9b9b9;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .contact__menubar-buttons {
      display: flex;
      justify-content: space-between;
      width: 40px; }
      .contact__menubar-buttons .red, .contact__menubar-buttons .yellow, .contact__menubar-buttons .green {
        width: 8px;
        height: 8px;
        border-radius: 50%; }
      .contact__menubar-buttons .red {
        background-color: red;
        border: 0.5px solid rgba(34, 34, 34, 0.2); }
      .contact__menubar-buttons .yellow {
        background-color: yellow; }
      .contact__menubar-buttons .green {
        background-color: green; }
    .contact__menubar-options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 15px; }
      .contact__menubar-options .dot {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: rgba(85, 85, 85, 0.5); }
  .contact__form {
    background-color: #E0E1E2;
    padding: 4rem 3rem;
    width: 100%;
    height: 100%;
    display: flex; }
    .contact__form .left {
      width: 45%; }
      .contact__form .left__title {
        font-size: 2.2rem;
        color: #222;
        position: relative; }
        .contact__form .left__title::after {
          content: '';
          position: absolute;
          bottom: -10px;
          left: 0;
          height: 3px;
          width: 30px;
          background-color: #2AA80F; }
    .contact__form .right {
      width: 55%;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .contact__form .right .name, .contact__form .right .email, .contact__form .right .message {
        width: 100%;
        background-color: inherit;
        font: inherit;
        font-size: 1.6rem;
        border: none;
        outline: none;
        border-bottom: 2px solid rgba(85, 85, 85, 0.7);
        padding: 1rem 0;
        margin: 1rem 0;
        transition: all .3s; }
        .contact__form .right .name:focus, .contact__form .right .email:focus, .contact__form .right .message:focus {
          border-bottom: 2px solid #2AA80F; }
        .contact__form .right .name::placeholder, .contact__form .right .email::placeholder, .contact__form .right .message::placeholder {
          font-size: 1.6rem; }
      .contact__form .right .buttons {
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .contact__form .right .buttons button {
          padding: 0;
          display: block;
          cursor: pointer;
          margin-top: 20px;
          font: inherit;
          color: #2AA80F;
          font-size: 1.8rem;
          font-weight: 600;
          text-transform: uppercase;
          background-color: inherit;
          border: none;
          transition: all .3s; }
          .contact__form .right .buttons button:focus {
            outline: none; }
          .contact__form .right .buttons button:hover {
            color: #134a07; }
