.about {
    width: 90%;
    height: 100%;
    margin: 7rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1100px) {
        width: 100%;
    }

    &__title {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 8rem;
        padding-bottom: 5px;
        border-bottom: 2.5px solid $primary-color;
    }

    &__boxes {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 3rem;

        @media screen and (max-width: 900px) {
            flex-direction: column;
            align-items: center;
        }

        &-box {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // padding: 1rem;

            @media screen and (max-width: 900px) {
                width: 80%;
            }

            @media screen and (max-width: 700px) {
                width: 100%;
            }

            .icon {
                font-size: 7rem;
                color: $primary-color;
                margin-bottom: 2rem;
            }

            &--title {
                font-size: 2.6rem;
                text-align: center;
                margin-bottom: 2rem;
            }

            &--para {
                font-size: 2rem;
                text-align: center;
                line-height: 1.5em;
                @media screen and (max-width: 900px) {
                    width: 450px;
                }

                @media screen and (max-width: 700px) {
                    max-width: 350px;
                    width: 100%;
                }
            }

            &:not(:last-child) {
                margin-bottom: 6rem;
            }
        }
        
    }
}

.infoimg {
    background-image: url(../img/infostartup.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;

    @media screen and (max-width: 700px) {
        height: 50vh;
    }
}

.info {
    width: 70%;
    height: 100%;
    margin: 7rem auto;
    margin-bottom: 4rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 750px) {
        width: 90%;
    }

    &__title {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 5rem;
        padding-bottom: 5px;
        border-bottom: 2.5px solid $primary-color;
    }

    &__text {
        font-size: 2rem;
        line-height: 1.5em;
        margin: 0 auto;
        margin-bottom: 2rem;
        width: 500px;

        @media screen and (max-width: 650px) {
            width: 350px;
        }

        @media screen and (max-width: 460px) {
            width: 280px;
        }

        &::first-letter {
            font-size: 300%;
        }
    }

    &__details {
        width: 500px;
        margin: 3rem auto;
        // min-width: 500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width: 650px) {
            width: 350px;
        }

        @media screen and (max-width: 460px) {
            width: 280px;
        }

        .wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 460px) {
                flex-direction: column;
            }

            .telephone {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                @media screen and (max-width: 460px) {
                    align-items: flex-start;
                }
            }
        }

        .address, .telephone, .mail {
            width: 200px;
            // padding: 2rem;
            font-size: 1.8rem;
            font-weight: 600;
            // margin: 3rem auto;
            margin-bottom: 3rem;

            .icon {
                color: $primary-color;
                margin-bottom: 1.5rem;
                font-size: 3rem;
            }
        }
    }
}