.featured {
    width: 100%;
    min-height: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 5rem;
    background: rgb(25, 117, 79);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgb(25, 117, 79), rgb(69, 133, 53));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgb(25, 117, 79), rgb(69, 133, 53)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: $white;

    @media screen and (max-width: 850px) {
        flex-direction: column;
        padding: 5rem;
    }

    @media screen and (max-width: 450px) {
        padding: 2.5rem;
    }

    &__img {
        width: 40vw;
        height: 250px;

        @media screen and (max-width: 850px) {
            width: 80vw;
        }
    }

    &__info {
        width: 40vw;
        padding: 4rem 0;

        @media screen and (max-width: 850px) {
            width: 80vw;
        }
        

        &-title {
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }

        &-desc {
            width: 90%;
            line-height: 1.4em;
            font-size: 2rem;
            margin-bottom: 1rem;

            @media screen and (max-width: 700px) {
                width: 95%;
                line-height: 1.6em;
            }
        }

        &-link {
            font-size: 2rem;
            font-weight: 600;
            color: $secondary-color;
        }
    }
}