/*! Genomskinlig bakgrund som är klickbar när dropdown fälls ner */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    z-index: 10;
    height: 100vh;
    display: none;
}

/*! Framdelen av startsidan */
.hero, 
.blog-hero, 
.info-hero {
    overflow: hidden;
    position: relative;
    font-family: 'Source Sans Pro', Verdana, sans-serif;
    width: 100%;
    margin-top: 120px;
    // padding-top: 20px;
    
    /*! Menyn */
    &__nav {
        /*! En linear-bakgrund */
        background: #25AC74;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #25AC74, #67C44F);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #25AC74, #67C44F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 3.5rem 6rem;
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        max-height: 120px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        box-shadow: 1px 2px 2px rgba(0, 0, 0, .2);

        @media screen and (max-width: 500px) {
            flex-direction: column;
            justify-content: space-around;
            padding: 0 6rem;
        }

        .logo {
            /*! Logotypen */
            width: 25rem;
            // transform: translateY(-20px);

            @media screen and (max-width: 500px) {
                height: 8rem;
            }
        }

        .dropdown {
            /*! Dropdown-menyn */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 70vh;
            background-color: $white;
            z-index: 15;
            padding: 5rem;
            display: flex;
            flex-direction: column;
            font-size: 3rem;
            box-shadow: 2px 3px 3px rgba(0, 0, 0, .2);
            transform: translateX(-100vw);
            transition: all .4s;

            /*! Knappen som stänger dropdown-menyn */
            .close {
                z-index: 20;
                width: 40%;
                margin: .5rem auto;
                font-weight: 600;
                font-size: 8rem;
                cursor: pointer;
            }

            /*! Menyn i dropdown */
            &__menu {
                z-index: 20;
                width: 40%;
                margin: 2rem auto;
                
                &-item {
                    z-index: 20;
                    font-weight: 600;
                    
                    a:link, a:visited {
                        color: $primary-color;
                    }
                }
            }
        }

        .burger {
            /*! Hamburgarikonen */
            color: $white;
            cursor: pointer;
            font-size: 4rem;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            display: none;

            @media screen and (max-width: 650px) {
                display: block;
            }

            @media screen and (max-width: 500px) {
                display: block;
                transform: translateY(-20px);
            }
        }

        ul li a:link, 
        ul li a:visited {
            color: $white;
            transition: all .3s;
        }

        ul li a:hover, 
        ul li a:active {
            color: darken($white, 20%);
        }



        &-list {
            /*! Listan i dropdown-menyn */
            
            font-size: 1.8rem;
            font-weight: 600;
            text-transform: uppercase;
            color: $white;
            display: flex;
            width: 120px;
            // min-width: 80px;
            margin-right: 5%;
            justify-content: space-between;
            align-items: flex-end;

            @media screen and (max-width: 650px) {
                display: none;
            }

            
            li:not(:last-child) {
                &::after {
                    content: '/';
                    color: $yellow;
                    padding: 5px;
                }
            }
        }
    }
        .banner {
        /*! Bannern */

        &::before {
            /*! Text på banner */
                    content: 'Vi utvecklar ditt drömprojekt!';
                    position: absolute;
                    top: 90px;
                    left: 5%;
                    font-size: 3vw;
                    font-weight: 600;
                    
                    @media screen and (max-width: 700px) {
                        display: none;
                    }
                }

                &::after {
                    /*! Text på banner med bakgrundsfärg */
                    content: 'Hör av dig till oss!';
                    position: absolute;
                    color: $white;
                    background-color: rgba($primary-color, .6);
                    top: 150px;
                    left: 0;
                    font-size: 2.7vw;
                    // font-weight: 600; 
                    padding: 1rem 3rem;

                    @media screen and (max-width: 700px) {
                        display: none;
                    }
                }

                position: relative;
                background-image: url(../img/banner_quality_notext.jpg);
                background-size: cover;
                background-position: left;
                width: 100%;
                // margin-top: 120px;
                overflow: hidden;
                height: 40vw;
                min-height: 320px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                @media screen and (max-width: 700px) {
                    background-image: url(../img/banner_quality_small_notext.jpg);
                    background-position: bottom;
                    height: 60vw;
                    min-height: 200px;
                }
            }
}

/*! Enkla justeringar för sektionhöjden */
.hero {
    max-height: 90vh;
}

.blog-hero {
    height: 100%;
}

.info-hero {
    height: 100%;
}