.hero, 
.blog-hero {
    position: relative;
    font-family: 'Source Sans Pro', Verdana, sans-serif;
    width: 100%;
    height: 90vh;
    
    &__nav {
        background: #25AC74;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #25AC74, #67C44F);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #25AC74, #67C44F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 3.5rem 6rem;
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: space-between;
        margin: auto;
        min-height: 90px;

        .logo {
            width: 15%;
        }

        ul li a:link, 
        ul li a:visited {
            color: $white;
            transition: all .3s;
        }

        ul li a:hover, 
        ul li a:active {
            color: darken($white, 20%);
        }



        &-list {
            
            font-size: 1.8rem;
            font-weight: 600;
            text-transform: uppercase;
            color: $white;
            display: flex;
            width: 120px;
            // min-width: 80px;
            margin-right: 5%;
            justify-content: space-between;
            align-items: flex-end;

            
            li:not(:last-child) {
                &::after {
                    content: '/';
                    color: $yellow;
                    padding: 5px;
                }
            }
        }
    }
            .banner {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 65vh;
                display: flex;
                justify-content: space-around;
                align-items: center;
                &__img {
                    width: 100%;
                    height: 500px;
                }
            }
}

.blog-hero {
    height: 100%;
}