.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    z-index: 10;
    height: 100vh;
    display: none;
}

.hero, 
.blog-hero, 
.info-hero {
    overflow: hidden;
    position: relative;
    font-family: 'Source Sans Pro', Verdana, sans-serif;
    width: 100%;
    min-height: 90vh;
    
    &__nav {
        background: #25AC74;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #25AC74, #67C44F);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #25AC74, #67C44F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 3.5rem 6rem;
        width: 100%;
        height: 20vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        min-height: 120px;
        position: relative;

        @media screen and (max-width: 950px) {
            // height: 55vh;
        }

        @media screen and (max-width: 500px) {
            flex-direction: column;
            justify-content: space-around;
            padding: 0 6rem;
        }

        .logo {
            width: 25rem;
            // transform: translateY(-20px);

            @media screen and (max-width: 500px) {
                height: 8rem;
            }
        }

        .dropdown {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 70vh;
            background-color: $white;
            z-index: 15;
            padding: 5rem;
            display: flex;
            flex-direction: column;
            font-size: 3rem;
            box-shadow: 2px 3px 3px rgba(0, 0, 0, .2);
            transform: translateX(-100vw);
            transition: all .4s;

            .close {
                z-index: 20;
                width: 40%;
                margin: .5rem auto;
                font-weight: 600;
                font-size: 8rem;
                cursor: pointer;
            }

            &__menu {
                z-index: 20;
                width: 40%;
                margin: 2rem auto;
                
                &-item {
                    z-index: 20;
                    font-weight: 600;
                    
                    a:link, a:visited {
                        color: $primary-color;
                    }
                }
            }
        }

        .burger {
            color: $white;
            cursor: pointer;
            font-size: 4rem;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            display: none;

            @media screen and (max-width: 650px) {
                display: block;
            }

            @media screen and (max-width: 500px) {
                display: block;
                transform: translateY(-20px);
            }
        }

        ul li a:link, 
        ul li a:visited {
            color: $white;
            transition: all .3s;
        }

        ul li a:hover, 
        ul li a:active {
            color: darken($white, 20%);
        }



        &-list {
            
            font-size: 1.8rem;
            font-weight: 600;
            text-transform: uppercase;
            color: $white;
            display: flex;
            width: 120px;
            // min-width: 80px;
            margin-right: 5%;
            justify-content: space-between;
            align-items: flex-end;

            @media screen and (max-width: 650px) {
                display: none;
            }

            
            li:not(:last-child) {
                &::after {
                    content: '/';
                    color: $yellow;
                    padding: 5px;
                }
            }
        }
    }
            .banner {
                // position: absolute;
                // bottom: 0;
                background-image: url(../img/banner.png);
                background-size: cover;
                background-position: left;
                width: 100%;
                overflow: hidden;
                height: 40vw;
                min-height: 320px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                @media screen and (max-width: 950px) {
                    background-image: url('../img/bannersmall.png');
                    background-position: top;
                    height: 50vw;
                }

                @media screen and (max-width: 700px) {
                    // height: 55vh;
                }
            }
}

.blog-hero {
    height: 100%;
}

.info-hero {
    height: 100%;
}